importlib-metadata==6.8.0 ; python_full_version > "3.10.0" and python_version < "4.0"
linkify-it-py==2.0.2 ; python_full_version > "3.10.0" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_full_version > "3.10.0" and python_version < "4.0"
markdown-it-py[linkify,plugins]==3.0.0 ; python_full_version > "3.10.0" and python_version < "4.0"
mdit-py-plugins==0.4.0 ; python_full_version > "3.10.0" and python_version < "4.0"
mdurl==0.1.2 ; python_full_version > "3.10.0" and python_version < "4.0"
pygments==2.15.1 ; python_full_version > "3.10.0" and python_version < "4.0"
pyperclip==1.8.2 ; python_full_version > "3.10.0" and python_version < "4.0"
rich==13.4.2 ; python_full_version > "3.10.0" and python_version < "4.0"
textual==0.30.0 ; python_full_version > "3.10.0" and python_version < "4.0"
typing-extensions==4.7.1 ; python_full_version > "3.10.0" and python_version < "4.0"
uc-micro-py==1.0.2 ; python_full_version > "3.10.0" and python_version < "4.0"
websocket-client==1.6.1 ; python_full_version > "3.10.0" and python_version < "4.0"
zipp==3.16.2 ; python_full_version > "3.10.0" and python_version < "4.0"
